---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>

		<h1>My Astro website</h1>
        <h1>About Me</h1>
        <h2>... and my new Astro site!</h2>

        <p>My name is Jacob and I am 23 years old.</p>

        <p>I am a student at the WsSB studying Computer Science.</p>
	</body>
</html>
