---
import Social from "./Social.astro";
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
  <Social platform="github" username="kvbxss"/>
  <p>© 2021 - Made with ❤️ by <a href="jakubdownarowicz.pl">jakubdownarowicz</a></p>
</footer>